/* Formato para toda la página web  */
.RGBWEB {
	background-color: aliceblue;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

/* Formato para el contenedor donde está la imagen, 
    la metadata y los histogramas */
.container {
	padding: 10px;
	border-width: 3px;
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	align-items: flex-start;
	width: 945px;
	height: 915px;
}

/* Formato para la posición del logo institucional */
.header {
	width: 100%;
	max-width: 400px;
	padding: 20px;

}

/* Configuración para seleccionar una de las imágenes 
    y mostrarla */
.imagenSelectData {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 30px;
}

/* Configuración para las imágenes y su metadata correspondiente */
.imagenFlex {
	display: flex;
	flex-direction: column;
	column-gap: 40px;
	border-width: 3px;
	padding: 20px;

}

/* Posición para asignar donde estará la imagen*/

.cuadroImg {
	max-width: 200px;
	width: 100%;
}

/* Lugar de la imagen del logo*/
.imgCambiante {
	display: block;
	max-width: 100%;
}

#testImage {
	display: none;
}

.sos {
	width: 100%;
	max-width: 200px;

}

canvas {
	display: block;
}

.respuestaFlex {
	line-height: 3rem;
	font-family: 'Source Code Pro', serif;
	font-size: 1.5rem;
}

/* Configuración para cambiar de imágenes */

select {
	appearance: none;
	outline: none;
	background-color: transparent;
	border: none;
	padding: 0 2em 0 0;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
	font-weight: bold;
	color: rgb(34, 37, 40);
}

/* Formato para los histogramas*/
.grafosFlex {
	padding: 0;
	display: flex;
	flex-direction: column;
}

/* Formato para el texto "Seleccione una imagen */

.TituloSeleccion {
	display: flex;
	flex-direction: column;

}

/* Formato para todo el footer */

.footer {
	background-color: rgb(195, 202, 237);
	width: 100%;
	display: flex;
	align-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

/* Configuración para la información del texto del footer */

.footer_copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	margin: 2rem;
}

/* Formato para las listas no ordenadas del footer*/

.footer_copyright ul {
	list-style: none;
}