*{
    font-family: Arial, Helvetica, sans-serif;
}

.RGBWEB{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    .container:  left;
}





.imagenSelectData
{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
}

.imagenFlex{
    align-items: center;
    display:  flex;
    flex-direction: column;
    column-gap: 40px;
    
    
    border-width: 3px;
    padding: 20px;
    
}

.cuadroImg{    
    max-width: 200px;
    width: 100%;
}
.imgCambiante{
	display: block;
	max-width: 100%;
}

.respuestaFlex
{
    line-height: 3rem;
    font-family: 'Source Code Pro', serif;
	font-size: 1.5rem;
}
select{
    appearance: none;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0 2em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    font-weight: bold;

}



.grafosFlex{
    padding: 0;

    display: flex;
    flex-direction: row;
    height: 100px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.barraRoja{
size: portrait;

}


.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;

}
